<?xml version="1.0"?>
<configuration>
<!--<startup><supportedRuntime version="v2.0.50727"/></startup>-->

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="qtht.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="qtht.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="username" value="sa"/>
    <add key="password" value="cse@123456"/>
    <add key="datasource" value="190.2.3.237"/>
    <add key="catalog" value="cls"/>
    <add key="identify_method" value="0"/>
<!--    0: vasco identify; 1: cse identify -->    
<!--    MOFA: Oracle; MOFA2: SQL Server-->
    <add key="identify" value="0"/>
    <!--    1: yes; 0: no-->
    <add key="maxPhotoWidth" value="240"/>
    <add key="maxPhotoHeight" value="320"/>
    <add key="maxPhepNcWidth" value="738"/>
    <add key="maxPhepNcHeight" value="1024"/>
    <add key="root_dir" value="../../.."/>
  </appSettings>
  
  <userSettings>
    <qtht.Properties.Settings>
      <setting name="sqlBaoCaoThongKeThietBiSuDung" serializeAs="String">
        <value>SELECT '' AS STT ,N'Cấp phát' AS KGN, (SELECT COUNT(TINH_TRANG) FROM qtht.QUAN_LY_THIET_BI QLT, THIET_BI_SERIAL_NUMBER TBS
WHERE QLT.DON_VI_SD_ID = 2 AND QLT.THIET_BI_SERIAL_NUMBER_ID = TBS.ID AND
QLT.KIEU_GIAO_NHAN = 'C' AND  TBS.TINH_TRANG = 'T'
)AS TOT 
,(SELECT COUNT(TINH_TRANG) FROM qtht.QUAN_LY_THIET_BI QLT, THIET_BI_SERIAL_NUMBER TBS
WHERE QLT.DON_VI_SD_ID = 2 AND QLT.THIET_BI_SERIAL_NUMBER_ID = TBS.ID AND
QLT.KIEU_GIAO_NHAN = 'C' AND TBS.TINH_TRANG = 'H'
)AS HONG
,(SELECT COUNT(TINH_TRANG) FROM qtht.QUAN_LY_THIET_BI QLT, THIET_BI_SERIAL_NUMBER TBS
WHERE QLT.DON_VI_SD_ID = 2 AND QLT.THIET_BI_SERIAL_NUMBER_ID = TBS.ID AND
QLT.KIEU_GIAO_NHAN = 'C' AND TBS.TINH_TRANG = 'B'
)AS BT, '' TONG ,'' GhiChu
UNION
SELECT '' AS STT ,N'Thu h?i' AS KGN, (SELECT COUNT(TINH_TRANG) FROM qtht.QUAN_LY_THIET_BI QLT, THIET_BI_SERIAL_NUMBER TBS
WHERE QLT.DON_VI_SD_ID = 2 AND QLT.THIET_BI_SERIAL_NUMBER_ID = TBS.ID AND
QLT.KIEU_GIAO_NHAN = 'T' AND  TBS.TINH_TRANG = 'T'

)AS TOT 
,(SELECT COUNT(TINH_TRANG) FROM qtht.QUAN_LY_THIET_BI QLT, THIET_BI_SERIAL_NUMBER TBS
WHERE QLT.DON_VI_SD_ID = 2 AND QLT.THIET_BI_SERIAL_NUMBER_ID = TBS.ID AND
QLT.KIEU_GIAO_NHAN = 'T' AND TBS.TINH_TRANG = 'H'
)AS HONG
,(SELECT COUNT(TINH_TRANG) FROM qtht.QUAN_LY_THIET_BI QLT, THIET_BI_SERIAL_NUMBER TBS
WHERE QLT.DON_VI_SD_ID = 2 AND QLT.THIET_BI_SERIAL_NUMBER_ID = TBS.ID AND
QLT.KIEU_GIAO_NHAN = 'T' AND TBS.TINH_TRANG = 'B'
)AS BT, '' TONG, '' GhiChu
UNION
SELECT '' AS STT ,N'B?o hành' AS KGN, (SELECT COUNT(TINH_TRANG) FROM qtht.QUAN_LY_THIET_BI QLT, THIET_BI_SERIAL_NUMBER TBS
WHERE QLT.DON_VI_SD_ID = 2 AND QLT.THIET_BI_SERIAL_NUMBER_ID = TBS.ID AND
QLT.KIEU_GIAO_NHAN = 'BH' AND  TBS.TINH_TRANG = 'T'

)AS TOT 
,(SELECT COUNT(TINH_TRANG) FROM qtht.QUAN_LY_THIET_BI QLT, THIET_BI_SERIAL_NUMBER TBS
WHERE QLT.DON_VI_SD_ID = 2 AND QLT.THIET_BI_SERIAL_NUMBER_ID = TBS.ID AND
QLT.KIEU_GIAO_NHAN = 'BH' AND TBS.TINH_TRANG = 'H'
)AS HONG
,(SELECT COUNT(TINH_TRANG) FROM qtht.QUAN_LY_THIET_BI QLT, THIET_BI_SERIAL_NUMBER TBS
WHERE QLT.DON_VI_SD_ID = 2 AND QLT.THIET_BI_SERIAL_NUMBER_ID = TBS.ID AND
QLT.KIEU_GIAO_NHAN = 'BH' AND TBS.TINH_TRANG = 'B'
)AS BT, '' TONG, '' GhiChu</value>
      </setting>
    </qtht.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <qtht.Properties.Settings>
      <setting name="qtht_XacThucTuXaWebService_XacThucTuXaWebService" serializeAs="String">
        <value>http://localhost:3861/XacThucTuXaWebService.asmx</value>
      </setting>
    </qtht.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
